# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env
.venv/ 


# Model artifacts
artifacts/
*.keras
*.pkl

# Logs
logs/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# VSCode
.vscode/

/models2
/models3
/models4
/models5